{% extends 'users/base.html.twig' %}

{% block title %}{% trans %}Recipes{% endtrans %}{% endblock %}

{% block user_body %}

                <h4>{% trans %}My recipes{% endtrans %}</h4>

{% endblock %}
